#console-placeholder{ height: 32px; }

#console{
	position: fixed;
	bottom: 0;
	padding: 0;
	z-index: 100;
	-webkit-box-shadow: 0 -2px 8px 0 rgba(128,128,128,0.2);
	box-shadow: 0 -2px 8px 0 rgba(128,128,128,0.2);
	#console-tab{
		width: 100%;
		height: 32px;
		padding-top: 2px;
		padding-left: 4px;
		padding-right: 4px;
		.float-xs-left.text-muted{
			font-size: 0.8em;
			padding-top: 0.2em;
		}
		#refresh-console{
			padding: 2px 2px 0;
			i.material-icons{
				font-size: 1.4em;
				&.in-sync{
					-webkit-animation: rotate-right 1s linear infinite;
					-o-animation: rotate-right 1s linear infinite;
					animation: rotate-right 1s linear infinite;
				}
			}
		}
	}
	#console-content{
		background-color: #000000;
		padding: 6px 12px;
		max-height: 200px;
		overflow-y: scroll;
		pre{
			margin: 0;
			color: #FFFFFF;
			white-space: pre-wrap;       /* css-3 */
			white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
			white-space: -o-pre-wrap;    /* Opera 7 */
			word-wrap: break-word;
		}
	}
}